*{
    margin: 0;
    padding: 0;
    font-family: verdana, sans-serif, Georgia, 'Times New Roman';
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.568),rgba(4, 9, 39, 0.541)),url(/Images/fortnite\ set\ up.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 50px;
}
.navlinks{
    flex: 1;
    text-align: right;
}
.navlinks ul li{
    list-style: none;
    display:inline-block;
    padding: 8px 12px;
    position: relative;
}
.navlinks ul li a{
    color: azure;
    text-decoration: none;
    font-size: 11px;
}
.navlinks ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: purple;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navlinks ul li:hover::after{
    width: 100%;
}
.textbox{
    width:90%;
    color: azure;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.textbox h1{
    font-size: 62px;
    
}
.textbox p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: lightgray;
}
.now{
    display: inline-block;
    text-decoration: none;
    color: azure;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.now:hover{
    border: 1px solid rgb(63, 2, 63);
    background: rgb(63, 2, 63) ;
    transition: 1s;
}
 @media(max-width:700px){
    .textbox h1{
        font-size: 20px;
    }
    /*.navlinks ul li{
        display: block;
    }
    .navlinks ul li{
        position: absolute;
        background:green;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;

    }*/
}

/* Top 3*/
.games{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color:rgb(134, 3, 134);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding:10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
h3{
    color: lightgray;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.games-col{
    flex-basis: 31%;
    background:linear-gradient(rgb(1, 1, 58),rgb(61, 1, 61)) ;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.games-col:hover{
    box-shadow: 0 0 20px 0px black;
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}

/* Accessories*/
.accessories{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px;
}
.accessories-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.accessories-col img{
    width: 100%;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background:  rgba(54, 19, 87, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;

}

/* Other games*/
.other-games{
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 100px;
}
.other-games-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.other-games-col img{
    width: 100%;
    border-radius: 10px;
}
.other-games-col p{
    padding: 0;
}
.other-games-col h3{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
    color: black;
}

/* Contact Us*/
.contact-info{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.568),rgba(4, 9, 39, 0.541)),url(/images/FIFA.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.contact-info h1{
    color: azure;
    margin-bottom: 40px;
    padding: 0;
}
.contact-info p{
    color: azure;
}

/* Footer*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;

}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.fa-instagram{
    margin: 10px;
    color: black;
}
.fa-phone{
    margin: 10px;
    color: black;
}
.fa-tiktok{
    margin: 10px;
    color: black;
}
.fa-twitter{
    margin: 10px;
    color: black;
}


/* About Us*/
.sub-header{
    min-height: 50vh;
    width: 100%;
    background-image: url(/images/cont.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-us-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-us-col img{
    width: 100%;
}
.about-us-col p{
    padding: 15px 0 25px;
}
.black-now{
    color: black;
    border: 1px solid black;
}
.black-now:hover{
    color: azure;
}

/* Games*/
.sub-sub-header{
    min-height: 70vh;
    width: 100%;
    background-image: url(/images/FIFA.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
}
.sub-sub-header h1{
    margin: 30px;
    color: azure;
    text-align: left;
    text-shadow: -5px 5px 5px gray, 0px -5px 10px rgb(94, 3, 94);

    animation: HI;
    animation-duration: 8s;
    animation-delay: 0s;
    animation-timing-function: ease;
}
@keyframes HI { 
    from{margin-left:100%}
    to{margin-left:0%}
    
}

/* Contact*/
.contact-us{
    width: 80%;
    margin:auto
}
.triple-header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.568),rgba(4, 9, 39, 0.541)),url(images/tamara-bitter-Xn4g9aHY4ao-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.fa-instagram{
    color: blueviolet;
}
.fa-phone{
    color: blueviolet;
}
.fa-twitter{
    color: blueviolet;
}
.fa-tiktok{
    color: blueviolet;
}




